
.container{
  display: flex;
  justify-content: center;
}
h1{
  font-size: 30px;
  color: #2B4865;
}
.crossed{
  text-decoration: line-through 3px red;
  background-color: #C1EFFF;
}
ul,li{
  list-style-type: none;
  padding: 10px;
  margin: 0;
  }
  .add{
    margin-top: 5px;
    background-color: #3AB4F2;
    padding: 10px;
    border: none;
    width: 70%;
    font-size: 18px;
    font-weight: bolder;
  }
  .delete{
    background-color: #FA9494;
    padding: 10px;
    border: none;
    width: 70%;
    font-size: 18px;
    font-weight: bolder;
  }
  input{
    flex: 1;
    padding: 8px;
    margin: 25px;
    
  }
  img{
    margin-top: 20px;
  }
